# List串列

In [1]:
my_list0 = [1,2,3]
print(my_list0)
my_list1 = ['python' ,'js','SQL']
print(my_list1[0])
my_list1.append('java')
print(my_list1)

[1, 2, 3]
python
['python', 'js', 'SQL', 'java']

# 新增到特殊位置

In [2]:
my_list1.insert(0,'c#')
print(my_list1)
print(len(my_list1))

['c#', 'python', 'js', 'SQL', 'java']
5

# list長度

In [3]:
my_list2=['c#','python' ,'js','SQL','java']
print(len(my_list2))
print(len(my_list2[1]))

5
6

# 刪除某特定物件、某特定位置的物件、-1指的是從最後數來第一個位置

In [4]:
my_list3=['c#','python' ,'js','SQL','java']
my_list3.remove('js')    #刪除某特定物件
print(my_list3)
del my_list3[0]          #刪除某特定位置的物件
print(my_list3)
del my_list3[-1]         #-1指的是從最後數來第一個位置
print(my_list3)

['c#', 'python', 'SQL', 'java']
['python', 'SQL', 'java']
['python', 'SQL']

# 檢查JAVA字串是否有在指定字串內

In [5]:
print('java' in['python' ,'js','SQL'])

False

# 串列的重複

In [6]:
a=[1,2]
print(a*5)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

# 串列取值 最大值 最小值

In [7]:
a=[1,2,3,4,5,6,7,8,9]
b=a[0:3]         #包含0，但是不包含3
print(b)
c=a[0:9:2]       #間隔取值 [開始:結束:間隔]
print(c)
del a[7:9]
print(a)
print(max(a))     #最大值
print(min(a))     #最小值
print(a.index(1))
print(a.count(1))

[1, 2, 3]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7]
7
1
0
1

# 串列反轉跟串列排序

In [8]:
print(a)
a.reverse()   
print(a)
a.sort()    
print(a)

[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]

# 取特定位置的值

In [9]:
a=[123,'abc',[111,222],[333,444]]
print(a[0])
print(a[1])
print(a[2])
print(a[2][1])

123
abc
[111, 222]
222

# 串列List常用在For迴圈

In [10]:
shoplist = ['milk','egg','coffee','banana']
for item in shoplist:
    print(item)

milk
egg
coffee
banana

# tupe的元素不可新增刪除或修改

In [11]:
a_list=['python' ,'js','SQL']
a_tuple=('python' ,'js','SQL')
b_tuple=tuple(a_list)
print(type(a_list))
print(type(a_tuple))
print(b_tuple)

<class 'list'>
<class 'tuple'>
('python', 'js', 'SQL')

# 判斷類型

In [12]:
c_tuple= 111,333,222   #c_tuple=(111,2222,333)
print(c_tuple)
print(type(c_tuple))

(111, 333, 222)
<class 'tuple'>